@media all and (max-width: 699px)and (min-width: 601px){
    body {
        background-position-x: -70vw;
        overflow: hidden;
        height: 100vh;
    }
    .contacts-wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 6%;
      margin-right: 4%;
      margin-left: 4%;
      overflow: auto;
      justify-content:space-around;
      align-content: center;
    }
    .contacts-wrapper>div{
      flex-grow: 1;
    }
    .picture {
        height: 50px;
        width: 50px;
    }
    .name_events {
        margin-bottom: -3vh;
        font-size: 2.5vh;
    }
    #pic1, #pic2, #pic3, #pic4, #pic5  {
        height: 40vw;
        width: 40vw;
    }
    .logo-final {
        height: 9.5vh;
        width: 30vh;
        width: 32vw;
    }
    #heading {
        font-size: 4.5vh;
        width: 100%;
        margin-right: 5vw;
        right: 0;
        align-self: flex-end;
    }
    .nav {
        height: 25vh;
    }
   .contact-us {
       height: 25vh;
       width: 70vw;
   }
   .contact-us > a{
       font-size: 1.5em;
       font-weight: bolder;
       right: 0;
       font-family: 'Montserrat Alternates', sans-serif;
       text-align: center;
       /*margin-right: 5vw*/;
       word-break: keep-all;
   }
   .rotating-slider ul.direction-controls li.left-arrow {
       top: 50%;
       left: 0;
   }
   .rotating-slider ul.direction-controls li.right-arrow {
    top: 50%;
    left: 75vw;
    }
    #events {
        width: 100vw;
    }
    .events-wrapper {
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }
    #event-pic {
        margin-left: 27.5vw;
        margin-top: 5vh;
        height: 15vh;
        width: 25vw;
    }
    #event-name {
        font-size: 3.5vh;
        margin-top: -4vh;
        width: 100%;
        margin-left: 40vw;
    }
    #event-desc {
        margin-top: 1vh;
        width: 100%;
        line-height: 2.5vh;
        margin-right: 5vw;
        font-size: 2.5vh;
        padding: 0 0 0 0;
    }
    #event-info {
        margin-left: 22.5vw;
    }
    #close_event {
        margin-right: 1vh;
    }
    .rotating-slider {
        height: 50vh;
        width: 100vw;
        margin-top: 0 auto;
    }

}
@media screen and (min-width: 700px) and (max-width: 900px){
  .logo-final {
    height: 12vh;
    width: 20vh;
    margin-top: 0.001vh;
}
#heading {
    font-size: 2em;
    margin-top: 4vh;
}
.contact-us{
    margin-top: 4.3vh;
}
#pic1, #pic2, #pic3, #pic4, #pic5{
    height: 30vw;
    width: 30vw;
}
.rotating-slider ul.direction-controls li.left-arrow {
    top: 19vh;
}
.rotating-slider ul.direction-controls li.right-arrow {
    top: 19vh;
}
#events {
    width: 100vw;
    margin-top: 10vh;
}
.events-wrapper {
    flex-direction: column;
    justify-content: center;
}
#event-pic {
    margin-left: 2.5vw;
    margin-top: 5vh;
}
#event-name {
    font-size: 3.0vh;
    margin-top: 4vh;
    width: 100%;
    margin-left: 50vw;
}
#event-desc {
    margin-top: 1vh;
    width: 100%;
    line-height: 2.5vh;
    margin-right: 5vw;
    font-size: 2.0vh;
    padding: 0 0 0 0;
}
#event-info {
    margin-left: 20vw;
    margin-top: 2vh;
}
#close_event {
    margin-right: 1vh;
}
  .contact-1{grid-area: contact1;}
  .contact-2{grid-area: contact2;}
  .contact-3{grid-area: contact3;}
  .contact-4{grid-area: contact4;}
  .contact-5{grid-area: contact5;}
  .contact-6{grid-area: contact6;}

    .contacts-wrapper{
    display: grid;
    grid-template-areas: 'contact1 contact2 contact3' 'contact4 contact5 contact6';
    grid-gap: 5px;
    margin-top: 6%;
    margin-right: 4%;
    margin-left: 4%;
    overflow: auto;
  }
}
@media screen and (max-width : 600px) {
    body {
        background-position-x: -70vw;
        overflow: hidden;
        height: 100vh;
    }
    .picture {
        height: 50px;
        width: 50px;
    }
    .name_events {
        margin-bottom: -3vh;
        font-size: 2.5vh;
    }
    #pic1, #pic2, #pic3, #pic4, #pic5  {
        height: 40vw;
        width: 40vw;
    }
    .logo-final {
        height: 9.5vh;
        width: 35vw;
    }
    #heading {
        font-size: 4.5vh;
        width: 100%;
        margin-right: 5vw;
        right: 0;
        align-self: flex-end;
    }
    .nav {
        height: 25vh;
    }
   .contact-us {
       height: 25vh;
       width: 70vw;
   }
   .contact-us > a{
       font-size: 5.5vw;
       font-weight: bolder;
       right: 0;
       font-family: 'Montserrat Alternates', sans-serif;
       text-align: center;
       white-space: nowrap;
       margin-left: -9vw;
       word-break: keep-all;
   }
   .rotating-slider ul.direction-controls li.left-arrow {
       top: 50%;
       left: 0;
   }
   .rotating-slider ul.direction-controls li.right-arrow {
    top: 50%;
    left: 75vw;
  }
  #events {
      width: 100vw;
      margin-top: 10vh;
  }
  .events-wrapper {
      flex-direction: column;
      justify-content: center;
  }
  #event-pic {
      margin-left: 27.5vw;
      margin-top: 5vh;
  }
  #event-name {
      font-size: 3.5vh;
      margin-top: -4vh;
      width: 100%;
      margin-left: 40vw;
  }
  #event-desc {
      margin-top: 1vh;
      width: 100%;
      line-height: 2.5vh;
      margin-right: 5vw;
      font-size: 2.5vh;
      padding: 0 0 0 0;
  }
  #event-info {
      margin-left: 22.5vw;
  }
  #close_event {
      margin-right: 1vh;
  }
  .rotating-slider {
      height: 50vh;
      width: 100vw;
      margin-top: 0 auto;
  }
}
@media all and (max-width : 320px) {
    #heading {
        transform: translateY(5vh);
    }
    .rotating-slider ul.direction-controls li.left-arrow {
        top: 25vh;
        right: 100vw;
    }
    .rotating-slider ul.direction-controls li.right-arrow {
     top: 25vh;
     left: 67vw;
 }
 body {
    background-position-x: -100vw;
}
#event-pic {
    margin-top: 10vh;
    margin-left: 40vw;
    margin-bottom: 0;
    bottom: 0;
}
#event-info {
    margin-top: -10vh;
}
#event-name {
    margin-top: -2.55vh;
    top: 0;
}
#event-desc {
    margin-top: 1vh;
    line-height: 3.5vh;
}
}
@media all and (min-width : 321px) and (max-width : 380px) {
    body {
        background-position-x: -90vw;
    }
    .contact-us {
        transform: translateX(-5vw);
        }
     #heading {
         transform: translateX(-5vw);
     }   
     #event-info {
         margin-top: 0vh;
     }
     #event-pic {
         margin-left: 30vw;
     }
}
@media all and (min-width: 1451px) {
    .contact-1{grid-area: contact1;}
    .contact-2{grid-area: contact2;}
    .contact-3{grid-area: contact3;}
    .contact-4{grid-area: contact4;}
    .contact-5{grid-area: contact5;}
    .contact-6{grid-area: contact6;}
  
      .contacts-wrapper{
      display: grid;
      grid-template-areas: 'contact1 contact2 contact3' 'contact4 contact5 contact6';
      grid-gap: 5px;
      margin-top: 6%;
      margin-right: 4%;
      margin-left: 4%;
      overflow: auto;
    }
}
