@media screen and (max-width : 600px) {
    body {
        background-position-x: -70vw;
    }
    .picture {
        height: 50px;
        width: 50px;
    }
    .rotating-slider ul.slides li .inner {
        height: 25%;
        width: 25%;
    }
    #pic1, #pic2, #pic3, #pic4, #pic5  {
        height: 50vw;
        width: 50vw;
    }
    .logo-final {
        height: 9.5vh;
        width: 32vw;
    }
    #heading {
        font-size: 4.5vh;
        width: 100%;
        margin-right: 5vw;
        right: 0;
        align-self: flex-end;
    }
    .nav {
        height: 25vh;
    }
   .contact-us {
       height: 25vh;
       width: 70vw;
   }
   .contact-us > a{
       font-size: 1.2em;
       right: 0;
       text-align: center;
       margin-right: 5vw;
   }
   .rotating-slider ul.direction-controls li.left-arrow {
       top: 35%;
       right: 92vw;
   }
   .rotating-slider ul.direction-controls li.right-arrow {
    top: 35%;
    left: 92vw;
}
#events {
    width: 100vw;
}
.events-wrapper {
    flex-direction: column;
    justify-content: center;
}
#event-pic {
    margin-left: 10vw;
    margin-top: 5vh;
}
#event-name {
    font-size: 4.5vh;
    margin-top: 2vh;
    width: 100%;
    margin-left: 30vw;
}
#event-desc {
    margin-top: 4vh;
    width: 100%;
    line-height: 4vh;
    margin-right: 5vw;
    font-size: 2.5vh;
    padding: 0 0 0 0;
}
#event-info {
    margin-left: 22.5vw;
}
#close_event {
    margin-right: 1vh;
}
}
@media all and (max-width : 320px) {
    #heading {
        transform: translateY(5vh);
    }
    .rotating-slider ul.direction-controls li.left-arrow {
        top: 35%;
        right: 110vw;
    }
    .rotating-slider ul.direction-controls li.right-arrow {
     top: 35%;
     left: 110vw;
 }
 body {
    background-position-x: -100vw;
}
#event-pic {
    margin-left: 25vw;
    margin-bottom: 0;
    bottom: 0;
}
#event-name {
    margin-top: -2.55vh;
    top: 0;
}
#event-desc {
    margin-top: 1vh;
    line-height: 3.5vh;
}
.contact-us {
    transform: translateX(-1vw);
}
}
@media all and (min-width : 321px) and (max-width : 380px) {
    .contact-us {
        transform: translateX(-5vw);
        }
     #heading {
         transform: translateX(-5vw);
     }   
     .rotating-slider {
         margin-left: -15vw;
     }
     #event-info {
         margin-top: -7vh;
     }
}
