.rotating-slider{
    margin: 5em auto;
    height: 360px;
    position: relative;
    width: 480px;
}
.rotating-slider ul.direction-controls{
    list-style: none;
    margin: 0;
    padding: 0;
}
.rotating-slider ul.direction-controls li.left-arrow{
    position: absolute;
        top: 50%;
        right: 100%;
    transform: translateY(-50%);
}
.rotating-slider ul.direction-controls li.right-arrow{
    position: absolute;
        top: 50%;
        left: 100%;
    transform: translateY(-50%);
}
.rotating-slider ul.direction-controls li button{
    background: rgba(0,0,0,0);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    text-align: center;
    border: none;
    transition: all 0.25s;
    width: 1.5em;
}
.rotating-slider ul.direction-controls li button:hover{
    background: rgba(0,0,0,0.4);
    border: none;
}
.rotating-slider ul.direction-controls li button:active{
    border: none;
}
.mobile{
    display: none;
}
.rotating-slider ul.slides{
    border-radius: 50%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
        top: 0;
        left: 50%;
    transform: translateX(-50%) rotate(0);
    transform-origin: center center;
    width: 100%;
    

}
.rotating-slider ul.slides li{
    background-color: #ecf0f1;
    background-position: center;
    background-size: cover;
    display: block;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform-origin: bottom center;
    width: 100%;

}
.contact-us {
    margin-top: 2.5vh;
  }
.contact-us a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2em;
    color: #ff9900;
    text-decoration: none;
    margin-right: 1.5vw;
    transition: 0.5s ease-in;
}

#heading {
    margin-top: 1vh;
    font-family: Monoton;
    font-size: 3.5em;
    color: #ff1177;
    text-align: center;
    margin-right: 50px;
  }
  body {
    background: url('neon8.jpg');
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: 300;
    overflow: hidden;
    background-size: cover;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
  }
  #events{
    width: 80%;
    height: 70%;
    background-color:transparent;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    padding: 10px 10px 10px 10px;
    color: wheat;
  }
  .events-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  #event-name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5em;
    color:#f3d9e6;
    margin-top: 10vh;
    margin-right: 3vw;
    }
    #event-desc {
        margin-top: 7vh;
        line-height: 5vh;
        font-family :'Montserrat Alternates', sans-serif;
        font-size: 1.8em;
        color: #dca4ec;
      
      }
      #event-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30vw;
      }
      @media all and (min-width: 1050px) and (max-width: 1450px) {
        .rotating-slider {
            margin-top: 7vh;
        }
        #pic1, #pic2, #pic3, #pic4, #pic5 {
            height: 20vw;
            width: 20vw;
        }
        #event-name {
            font-size: 2.7em;
        }
        #event-desc {
            font-size: 1.7em;
        }
        .contact-1{grid-area: contact1;}
        .contact-2{grid-area: contact2;}
        .contact-3{grid-area: contact3;}
        .contact-4{grid-area: contact4;}
        .contact-5{grid-area: contact5;}
        .contact-6{grid-area: contact6;}
      
          .contacts-wrapper{
          display: grid;
          grid-template-areas: 'contact1 contact2 contact3' 'contact4 contact5 contact6';
          grid-gap: 5px;
          margin-top: 6%;
          margin-right: 4%;
          margin-left: 4%;
          overflow: auto;
        }
      }
      